{# TODO : manage errors display #}
<div class="container card">
        <div class="card-body d-flex flex-column align-items-center">
            <form method="POST">
                <h1>Ajouter un événement</h1>
                <div class="form-outline mb-4">
                    <input type="text" class="form-control" name="kind" id="form1Example1" required>
                    <label class="form-label" for="form1Example1">Titre</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="date" class="form-control" id="date" name="address" required>
                    <label class="form-label" for="form1Example1">Date de début</label>
                </div>

                <div class="form-outline mb-4">
                    <input type="date" class="form-control" id="date" name="address" required>
                    <label class="form-label" for="form1Example1">Date de fin</label>
                </div>

                <button class="btn btn-primary" type="submit">Envoyer</button>

            </form>
        </div>
</div>

