<div class="container">

</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/diana-gf58afec3c_640.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">L'incarnation du corps dans le collection</h5>
                    <p class="card-text">Le premier acte, du 24 février au 9 juillet 2023, prend pour point de départ le corps dans sa dimension organique.</p>
                    <button href="#" class="data-mdb-ripple-color="light"></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/retro-aesthetic-ga2f51dee4_640.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fond d'air</h5>
                    <p class="card-text">L’exposition Fond d’air rassemble œuvres existantes et productions récentes de Camille Llobet, l’exposition.</p>
                    <button href="#" class="data-mdb-ripple-color="light"></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/museum-g4284be5eb_640.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Découverte des chefs d'oeuvre</h5>
                    <p class="card-text">Decouvrez 30 chefs d'oeurve du musée des Beaux Art. Du 1er avril au 24 juin 2023</p>
                    <button href="#" class="data-mdb-ripple-color="light"></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/sky-gae2cea6f6_640.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">17ème Biennale d'art contemporain</h5>
                    <p class="card-text">La 17e édition de la Biennale de Lyon se déroulera de septembre 2024 à janvier 2025..</p>
                    <button href="#" class="data-mdb-ripple-color="light"></button>
                </div>
            </div>
        </div>
    </div>
</div>
