<div class="container">
    <h1>Journey into Bootstrap classes</h1>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/musee-des-confluances-1004423.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <button href="#" class="btn btn-primary">Read more</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/tower-2393924.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <button href="#" class="btn btn-primary" type="button">Read more</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/city-4883769.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content.</p>
                    <button href="#" class="btn btn-primary">Read more</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow">
                <img src="assets/images/binoculars-6735240.jpg" class="card-img-top h-75" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.</p>
                    <button href="#" class="btn btn-primary">Read more</button>
                </div>
            </div>
        </div>
    </div>
</div>
