{% extends 'layout.html.twig' %}

{% block content %}
    <div class="Title">
        <h1>Découverte des chefs d'oeuvre </h1>
        <h2 style="font-size: 20px;" >Du 1er avril au 24 juin 2023 à Lyon</h2>



        <img src="https://cdn.pixabay.com/photo/2018/02/05/17/32/poseidon-3132730_960_720.jpg" class="img-fluid" alt="Wild Landscape" />

        <div class="description">
            <p style="font-size: 20px;">
                L'exposition "Découverte des Chefs-d'oeuvre" qui aura lieu aux
                Musées des Beaux-Arts de Lyon du 1er avril au 24 juin 2023 vous invite à explorer une sélection exceptionnelle d'œuvres d'art remarquables issues de la collection du musée.
                Cette exposition sera l'occasion de découvrir des chefs-d'œuvre issus de différents mouvements artistiques et de différentes périodes historiques, allant de l'Antiquité à l'art contemporain.

                Parmi les œuvres présentées, vous pourrez admirer des peintures, des sculptures, des dessins, des estampes et des objets d'art, créés par des artistes célèbres tels que Van Gogh, Monet, Gauguin, Picasso, Matisse, Rodin, ou encore Giacometti. Vous pourrez également découvrir des artistes moins connus mais tout aussi talentueux, et apprécier leur contribution à l'histoire de l'art.
            </p>
        </div>
    </div>
{% endblock %}
