{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h1>Exposition de Camille Claudel "Fond d'air"</h1>
        <h2 style="font-size: 20px;">Du 20 mars au 28 mai 2023 à Lyon</h2>


        <img src=" https://cdn.pixabay.com/photo/2017/03/15/18/13/lantern-2146997_960_720.jpg" class="img-fluid cover"
             alt="Wild Landscape"/>

        <div class="description">
            <p style="font-size: 20px;">Le Mobilier national présente l’exposition Le chic ! Arts décoratifs et mobilier
                à partir du 20 mars 2023 et jusqu'au 28 mai 2023.
                Rassemblées pour la première fois dans le cadre d’une exposition, près de 200 œuvres issues des
                collections du Mobilier national font revivre l’essence du « Chic » à la française.
                Cette exposition est également l’occasion de mettre en valeur les savoir-faire d’une cinquantaine
                d’artisans et maîtres d’art qui ont contribué à la restauration des pièces exposées,
                révélant ainsi ces ensembles sous un jour nouveau. En effet, entre 2021 et 2022, le Mobilier national a
                engagé un programme de restauration d’une ampleur inédite d’une centaine de pièces de la collection de
                meubles et de luminaires des années 1930 à 1950. Ce programme a ainsi permis de soutenir une filière
                fragilisée pendant la crise et d’encourager l’activité de femmes et d’hommes qui font vivre un
                patrimoine immatériel inestimable.
            </p>
        </div>

    </div>
{% endblock %}
