<footer class="text-center text-lg-start bg-white text-muted">

    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-4 border-bottom">
        <div>
            <a href="https://facebook.com" target="_blank" class="me-4 link-secondary">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com" target="_blank" class="me-4 link-secondary">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://google.com" target="_blank" class="me-4 link-secondary">
                <i class="fab fa-google"></i>
            </a>
            <a href="https://instagram.com" target="_blank" class="me-4 link-secondary">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://linkedin.com" target="_blank" class="me-4 link-secondary">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com" target="_blank" class="me-4 link-secondary">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3 text-secondary"></i>Art Design
                    </h6>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">
                        Liens utiles
                    </h6>
                    <p>
                        <a href="https://www.rd.com/wp-content/uploads/2022/03/GettyImages-1292968523.jpg?resize=1536,1024"
                           target="_blank" class="text-reset">Plus d'infos</a>
                    </p>
                    <p>
                        <a href="https://entreprendre.service-public.fr/vosdroits/F31228" target="_blank"
                           class="text-reset">Mentions légales</a>
                    </p>
                    <p>
                        <a href="https://entreprendre.service-public.fr/vosdroits/F24270" target="_blank"
                           class="text-reset">Protection des données</a>
                    </p>
                    <p>
                        <a href="https://www.cnil.fr/fr/cookies-et-autres-traceurs/regles/cookies/que-dit-la-loi"
                           target="_blank" class="text-reset">Cookies</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                    <p><i class="fas fa-home me-3 text-secondary"></i>17 rue Delandre 69002 Lyon</p>
                    <p>
                        <i class="fas fa-envelope me-3 text-secondary"></i>info@artdesign.fr
                    </p>
                    <p><i class="fas fa-phone me-3 text-secondary"></i>04 12 34 56 78</p></div>
            </div>
        </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="container-fluid text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2023 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">ArtDesign.com</a>
    </div>
    <!-- Copyright -->

</footer>
