{# TODO : manage errors display #}

<form method="post">
	<input type="hidden" value="{{ item.id }}" name="id">
	<label for="title">Titre</label>
	<input type="text" value="{{ item.title }}" name="title" id="title">
	<button type="button" class="btn btn-primary">Valider</button>
</form>
