<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" data-bs-theme="white">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/assets/images/logo_artdesign.png" alt="ArtDesign" height="45">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/accueil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agenda</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Catégories
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/category/museum">Musées</a></li>
                            <li><a class="dropdown-item" href="/category/galerie">Galeries</a></li>
                            <li><a class="dropdown-item" href="/category/foire_salon">Foires & Salons</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="container-fluid justify-content-center align-items-center">
                    <button class="btn btn-primary btn-sm" href="#">Inscription</button>
                    <button class="btn btn-outline-primary btn-sm" href="#">Connexion</button>
                </div>

            </div>
        </div>
    </nav>
</header>
