{% extends 'layout.html.twig' %}

{% block content %}
    <div class="Title">
        <h1>L'incarnation du corps dans la collection</h1>
        <h2 style="font-size: 20px;">Exposition du 24 février au 9 juillet 2023 à Lyon</h2>

        <img src="https://cdn.pixabay.com/photo/2022/01/06/12/09/wooden-figure-6919363_640.jpg" class="img-fluid" alt="Wild Landscape" />

        <div class="description">
            <p style="font-size: 20px;">Incarnations inaugure une série d’expositions et de manifestations prévues tout au long de l’année 2023 et s’intéressant à la présence du corps dans les œuvres de la collection du macLYON.

                Incarnations, le corps dans la collection du macLYON se décline en deux actes qui présentent chacun une facette du corps envisagé depuis une approche inspirée de la phénoménologie. S’éloignant du cogito de René Descartes, le célèbre « je pense, donc je suis », ce courant philosophique de la première moitié du XXe siècle affirme au contraire que nous sommes avant tout nos corps, et qu’il n’existe pas de pensée « pure » détachée d’un organisme qui perçoit et expérimente. Être, être soi, être son corps, c’est cette conception incarnée du corps qui sous-tend les deux actes de l’exposition.


                Le premier acte, du 24 février au 9 juillet 2023, prend pour point de départ le corps dans sa dimension organique, la matière charnelle telle qu’elle est modelée par les artistes qui en font l’objet, le sujet, le support et le médium de leurs pratiques artistiques. Les œuvres exposées – datant des années 1960 à nos jours – témoignent des questionnements artistiques qui conduisent les artistes à réfléchir à un nouveau rapport à l’art. Elles présentent le corps dans sa vérité physique, comme un moyen d’expérimentation de soi ou du monde. Confronté·es à cet organisme faillible, soumis·es à ses dysfonctionnements, ses imperfections, ses limites et à sa condition mortelle, les artistes s’emparent du corps et en font un outil de réflexion, une réponse aux codes artistiques et sociétaux préétablis.
            <br>Les artistes: Daniel Buren, Joan Miro et Sonia Delauney</br>
            </p>
        </div>
    </div>
{% endblock %}

