<div class="d-flex d-inline-flex justify-content-center w-100 m-3">
    <form action="POST">
        <section>
            <select id="event" name="event" class="form-select m-2">
                <option value="museum"selected>Musées</option>
                <option value="exposition"selected>Expo temporaires</option>
                <option value="galery"selected>Galeries d'art</option>
            </select>


            <select class="form-select m-2" value="{{ place }}" name="place" required aria-label="Arrondissement">
                <option> Arrondissement</option>
                <option value="69001">Lyon 1</option>
                <option value="69002">Lyon 2</option>
                <option value="69003">Lyon 3</option>
                <option value="69004">Lyon 4</option>
                <option value="69005">Lyon 5</option>
                <option value="69006">Lyon 6</option>
                <option value="69007">Lyon 7</option>
                <option value="69008">Lyon 8</option>
                <option value="69009">Lyon 9</option>
            </select>

            <button type="button" class="btn btn-success">Recherchez</button>
        </section>

    </form>

</div>

