
{% extends 'layout.html.twig' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="agenda.css">

<p id='taille'
<iframe src="https://calendar.google.com/calendar/embed?height=400&wkst=1&bgcolor=%23B39DDB&ctz=Europe%2FParis&title=%C3%A9v%C3%A9nements%20artiste&src=MjU0OTEyMDYxYmM1ZTRhNGZkZTNiYTE1MjRiNzk0NzViY2ZkYWE4Y2M1N2U3ZDIyOTM4ZjJmYmQwMzQ2YTFhOEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23009688" style="border:solid 1px #777" width="500" height="400" frameborder="0" scrolling="no"></iframe>

</p>

<div class='qrCode'>


{% endblock %}
