{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Bienvenue sur ArtDesign!</h1>
    <p>Find a complete CRUD example on <a href="/home">/items</a> home.html.twig</p>  /* il me semble que la page home concerne que read et non CRUD*/
{% endblock %}
