{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Item/_carousel.html.twig' %}

    <div class="container">
    <p style="font-size: 30px;">Notre site répertorie les informations sur les expositions
        d’art et design à Lyon. Passionnées par l’art et le design, nous souhaitons vous faire
        découvrir les événements les plus intéressants et inspirants.</p>
    </div>

    {% include 'Item/_cards.html.twig' %}
{% endblock %}
