{% extends 'layout.html.twig' %}

{% block content %}
    {% include 'Item/_carousel.html.twig' %}

    <p style="font-size: 30px;">Notre site est dédié à vous fournir des informations sur les expositions d’art et design à Lyon. Passionnées par l’art et le design nous
        voulons partager cette passion avec vous en vous aidant à devouvrir les evenements les plus interessants et
        les plus inspirants.</p>

    {% include 'Item/_cards.html.twig' %}
{% endblock %}
