<!--Main Navigation-->
<header>
    <!-- Sidenav -->
    <div id="sidenav-1" class="sidenav navbar-nav navbar-expand" role="navigation">
        <ul class="sidenav-menu">
            <li class="sidenav-item">
                <h6 class="text-uppercase fw-bold mb-4">
                    <i class="fas me-3 text-secondary"></i>Paramètres
                </h6>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link active" href="/event/list">
                    <i class="fas fa-list fa-fw me-3"></i><span>Liste des événements</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link" href="/event/add">
                    <i class="fas fa-add fa-fw me-3"></i><span>Ajouter un événement</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link active" href="/place/list">
                    <i class="fas fa-list fa-fw me-3"></i><span>Liste des lieux</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link" href="/place/add">
                    <i class="fas fa-add fa-fw me-3"></i><span>Ajouter un lieu</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link active" href="/user/list">
                    <i class="fas fa-list fa-fw me-3"></i><span>Liste des utilisateurs</span>
                </a>
            </li>
            <li class="sidenav-item">
                <a class="sidenav-link" href="/register">
                    <i class="fas fa-add fa-fw me-3"></i><span>Ajouter un utilisateur</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- Sidenav -->
</header>
<!--Main Navigation-->
