{% extends 'layout.html.twig' %}

{% block content %}

    <!--Section: Demo-->
    <section>
        <div class="bg-white border rounded-5">
            <section id="sidenav" class="p-4 d-flex justify-content-center">
                <!--Sidenav-->
                <ul id="sidenav-3" class="sidenav sidenav-primary" data-mdb-close-one-esc="false"
                    data-mdb-hidden="false" data-mdb-position="absolute" data-mdb-focus-trap="false"
                    data-mdb-scroll-container="#scroll-container">
                    <div class="text-center">
                        <h3 class="py-4">
                            Dashboard
                        </h3>
                        <hr class="m-0">
                    </div>

                    <ul id="scroll-container" class="sidenav-menu ps ps--active-y">
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 1</span></a>
                        </li>
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 2</span></a>
                        </li>
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 3</span></a>
                        </li>
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 4</span></a>
                        </li>
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 5</span></a>
                        </li>
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 6</span></a>
                        </li>
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 7</span></a>
                        </li>
                        <li class="sidenav-item">
                            <a class="sidenav-link ripple-surface"><span>Link 8</span></a>
                        </li>
                        <div class="ps__rail-x">
                            <div class="ps__thumb-x" tabindex="0"></div>
                        </div>
                        <div class="ps__rail-y">
                            <div class="ps__thumb-y" tabindex="0"></div>
                        </div>
                    </ul>
                    </nav>
                    <!--Sidenav-->

            </section>
        </div>
    </section>
    <!--Section: Demo-->

{% endblock %}
