{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container card">
        <div class="card-body d-flex flex-column align-items-center">
            <h1>Se connecter</h1>
            <p>Veuillez saisir vos informations de connexion.</p>
            <form action="" method="POST">
                <div class="form-outline mb-4">
                    <input type="email" name="email" id="form1Example1" class="form-control"/>
                    <label class="form-label" for="form1Example1">Email</label>
                </div>
                <div class="form-outline mb-4">
                    <input type="password" name="password" id="form1Example1" class="form-control"/>
                    <label class="form-label" for="form1Example1">Mot de passe</label>
                </div>
                <button type="submit" class="btn btn-primary">Connexion</button>
            </form>
        </div>
    </div>
{% endblock %}
